<footer>
    <div class="icons">
        {{ if isset .Site.Params "email" }}
        <a href="mailto:{{ .Site.Params.Email }}">
            <i class="fa fa-envelope-o"></i>
        </a>
        {{ end }}
        {{ if isset .Site.Params "twitter" }}
        <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="blank">
            <i class="fa fa-twitter"></i>
        </a>
        {{ end }}
        {{ if isset .Site.Params "linkedin" }}
        <a href="{{ .Site.Params.LinkedIn }}" target="blank">
            <i class="fa fa-linkedin"></i>
        </a>
        {{ end }}
        {{ if isset .Site.Params "medium" }}
        <a href="https://medium.com/@{{ .Site.Params.Medium }}" target="blank">
            <i class="fa fa-medium"></i>
        </a>
        {{ end }}
        <a href="{{ .Site.BaseURL }}{{ .Site.Params.Hero.Resume }}" target="blank" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
            <i class="fa fa-file-text-o"></i>
        </a>
    </div>

    <a href="#" data-scroll-goto="0">Back to top</a>
</footer>