/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

footer {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  & a {
    padding: 0 0.5em;
    color: #008593;
    text-decoration: none;
    & :hover {
      color: #5A54AF;
    }
  }
}

.icons a:first-child {
  padding: 0 0.5em 0 0;
}