/*--------------------------------------------------------------
Home
--------------------------------------------------------------*/

.home .screen-reader-text:matches (:hover, :active, :focus) {
    color: white;
}

.home .content {
    display: flex;
    padding-top: 20vh;
}

.hello {
    & h2, & h3 {
        padding: 0;
    }
}

h2 {
    font-family: var(--font__display);
}