/*--------------------------------------------------------------
Single page layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Contact section
--------------------------------------------------------------*/
body:not(.home) main article .contact {
    margin: 2em 0;
    padding: 1em 2em;
    @media (--medium-screen) {
        padding: 1em 4em;
    }
    color: white;
    background: var(--darkblue);
    background: linear-gradient(45deg, var(--darkblue) 0%, #009699);
    & p {
        padding: .75em;
    }
    & a {
        color: white;
        background: linear-gradient(to top, transparent 25%),
                    linear-gradient(to top,var(--yellow) 20%,transparent 25%);
        &:hover {
            cursor: pointer;
                color: black;
                background: var(--yellow);
        }
    }
}