/*--------------------------------------------------------------
Single page layout
--------------------------------------------------------------*/
body:not(.home) main section .contact {
    margin: 2em;
    padding: 1em;
    text-align: center;
    color: white;
    background: midnightblue;
    background: linear-gradient(45deg, midnightblue 0%, #009699);
    & a {
        color: white;
        background: linear-gradient(to top, transparent 25%),
                    linear-gradient(to top,#d2ff4d 25%,transparent 25%);
        &:hover {
            cursor: pointer;
                color: black;
                background: #d2ff4d;
        }
    }
}