<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ block "head" . }}{{ partial "head.html" . }}{{end}}
  </head>
  {{if .IsHome}}
    <body class="home">
  {{else}}
    <body>
  {{ end }}
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  
    {{ block "nav" . }}{{ partial "nav.html" . }}{{end}}

    <main id="content" class="content">
        {{ block "main" . }}{{end}}
    </main>
    
    {{ block "scripts" . }}{{ partial "scripts.html" . }}{{end}}

  </body>
</html>