{{ define "main" }}
        <article class="{{ .Params.class }}">
            {{ .Content }}
            <div class="contact full">
                    <p>You can <a href="mailto:{{ .Site.Params.Email }}">email me</a>, follow me on 
                    <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="blank">Twitter</a>, or find me on 
                    <a href="https://www.linkedin.com/in/{{ .Site.Params.LinkedIn }}" target="blank">LinkedIn</a>.
            </div>
            
            {{ block "footer" . }}{{ partial "footer.html" . }}{{end}}

        </article>
{{end}}