{{ define "main" }}
        <article>
            <section>
                {{ .Content }}
            </section>
            <div class="contact full">
                    <p>You can <a href="mailto:{{ .Site.Params.Email }}">email me</a>, follow me on 
                    <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="blank">Twitter</a>, find me on 
                    <a href="https://www.linkedin.com/in/{{ .Site.Params.LinkedIn }}" target="blank">LinkedIn</a>, or check out my 
                    <a href="{{ .Site.BaseURL }}{{ .Site.Params.Resume }}" target="blank" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">resume</a>.</p>
            </div>
            
            {{ block "footer" . }}{{ partial "footer.html" . }}{{end}}

        </article>
{{end}}