/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/start.css";
@import "imports/nav.css";
@import "imports/home.css";
@import "imports/single.css";
@import "imports/list.css";
@import "imports/footer.css";


:root {
  /* fonts */
  --font__code: 'Inconsolata', 'Consolas', monospace;
  --font__display: 'Montserrat', 'Lucida Sans Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Arial', sans-serif;
  --font__body: 'Nunito Sans', 'Lucida Sans Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Arial', sans-serif;
}
